<section>
  <div class="footer-container">
    <img class="sut-logo" src="./assets/images/logo_sut.svg" alt="" />
    <div class="header">
      โครงการจัดรูปแบบการบริหารวิชาการด้านเทคโนโลยีดิจิทัลรูปใหม่
    </div>
    <div class="body">
      111 มหาวิทยาลัยเทคโนโลยีสุรนารี ต.สุรนารี อ.เมือง จ.นครราชสีมา 30000
      โทรศัพท์ : 044-223789 Email : digitech@sut.ac.th
    </div>
    <div class="social">
      <a href="https://www.facebook.com/DigiTech.TH">
        <img class="fb" src="./assets/images/Icon-facebook.svg" alt="" />
      </a>
      <a href="http://digitech.sut.ac.th/">
        <img class="dg" src="./assets/images/DigiTech_Logo.svg" alt=""
      /></a>
    </div>
  </div>
</section>
