:host {
  font-family: "SUTRegular";
  font-size: calc(1vmax + 0.5vmin);
}

::ng-deep .cdk-overlay-pane {
  width: 65%;
}
::ng-deep .mat-dialog-container {
  padding: 5vh 5vw;
}

.bmd-form-group {
  position: relative;
  padding-top: 0;
}
.dialog .custom-file-control,
.dialog .form-control {
  font-size: 1.25rem;
  padding: 0.1em;
}

::ng-deep .cdk-global-scrollblock {
  position: absolute;
  overflow-y: hidden;
}
::ng-deep .dialog select.form-control:not([size]):not([multiple]) {
  height: 1.25rem;
}

.dialog .col-3 {
  color: #009688;
  font-weight: bolder;
  letter-spacing: 1px;
}

.accept-button,
.add-button {
  font-size: 1.25rem;
  background-color: var(--main-green-color);
  color: #ffffff;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 1vmin;
  cursor: pointer;
}

.cancel-button {
  font-size: 1.25rem;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 1vmin;
  cursor: pointer;
}

.add-button {
  position: absolute;
  right: 0;
  bottom: 50%;
}
.add-button:disabled {
  color: gray;
  background-color: #fafafa;
  cursor: default;
}
.dialog .mat-dialog-actions {
  display: table;
  margin: 0 auto;
}

span {
  width: max-content;
  position: absolute;
  right: 0;
  color: red;
  font-size: calc(1vmin + 0.5vmax);
}
.dialog .mat-form-field {
  width: calc(100% - (4 * (1vmax + 1vmin)));
}

.mat-option {
  font-family: "SUTRegular";
  font-size: 1.25rem;
  height: 2em;
}
.dialog .mat-select {
  font-family: "SUTRegular";
  font-size: 1.25rem;
}
.dialog .material-icons {
  font-size: calc(0.75vmax);
  line-height: calc(0.75vmax);
  height: calc(1vmax);
  width: calc(1vmax);
  vertical-align: middle;
  font-weight: bolder;
}

.dialog .delete-icon {
  color: #292929;
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  width: calc(1vmax + 1vmin);
  height: calc(1vmax + 1vmin);
  margin: 0 0.25vw;
  cursor: pointer;
}

.dialog .select-course {
  display: flex;
  position: relative;
}

.dialog .module-list {
  background-color: #f4f4f4;
  border-radius: 5px;
  width: 100%;
  padding: 1vh;
}
.dialog .career-type-list {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 1vh 1vw;
  margin: 2.5% 10%;
}

.dialog .mat-card {
  font-family: "SUTRegular";
  font-size: 1rem;
  padding: 0 1vw;
  margin: 0.5vh;
  /* display: flex; */
  position: relative;
}

::ng-deep .mat-checkbox-layout {
  font-family: "SUTRegular";
  font-size: 1.25rem;
  margin: 0;
  padding: 0.2em;
}
::ng-deep .mat-checkbox-inner-container {
  margin-right: 1vw;
  height: calc(0.5vmax + 1vmin);
  width: calc(0.5vmax + 1vmin);
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #009688;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #009688;
}

.dialog .mat-card button {
  position: absolute;
  right: 0;
}

::ng-deep .dialog .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #009688;
}
::ng-deep .dialog .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.1rem;
}
::ng-deep .dialog .mat-form-field-label-wrapper .mat-form-field-label {
  font-family: "SUTRegular";
  font-size: 1.25rem;
}

::ng-deep .dialog .mat-select-search-inner {
  font-family: "SUTRegular";
  font-size: 1.25rem;
}

::ng-deep .dialog .mat-select-search-inner ::placeholder {
  font-family: "SUTRegular";
  font-size: 1.25rem;
}
::ng-deep .dialog .mat-select-panel-wrap {
  flex-basis: 50%;
}
