<!------------------------- BANNER SECTION ----------------------->
<section>
  <div class="banner-bg"></div>
  <div class="banner-container">
    <div class="banner-content">
      <div class="header">{{ "WEB_NAME" | translate }}</div>
      <div class="detail">{{ "WEB_DETAIL" | translate }}</div>
      <a class="nav-link p-0" href="#">
        <div class="button-radius banner-button">
          {{ "WEB_ABOUT_PROGRAM" | translate }}
        </div>
      </a>
    </div>
    <img src="./assets/images/banner-image.svg" alt="" />
  </div>
</section>
<!----------------------- END BANNER SECTION ---------------------->

<!------------------------- INTRO SECTION ------------------------->

<section>
  <div class="intro-container">
    <img src="./assets/images/DIGITECH-header.svg" alt="" />
    <div class="intro-content">
      <div class="header">{{ "DIGITECH_PROGRAM" | translate }}</div>
      <div class="detail">{{ "DIGITECH_INTRO" | translate }}</div>
      <hr />
    </div>
  </div>
</section>

<!----------------------- END INTRO SECTION ----------------------->

<!--------------------------- CERT SECTION ------------------------->
<section>
  <div class="cert-container">
    <div class="cert-content">
      <div class="row">
        <div class="col-lg-6 col-sm-12 cert-img">
          <img src="./assets/images/cert-mockup.svg" alt="" />
        </div>
        <div class="col-lg-6 col-sm-12 m-auto">
          <div class="header">Certificate Track</div>
          <div class="content">
            เป็นหลักสูตรที่จัดการศึกษาแบบมอดูล (Modular Program) คือ การเรียนเป็นชุดวิชา ที่ทำให้ผู้เรียนได้รับทักษะ
            และความรู้แบบเบ็ดเสร็จภายในชุดวิชา เมื่อผู้เรียนผ่านการเรียนในแต่ละมอดูลจะได้รับสัมฤทธิบัตร (Certificate) 
            เพื่อแสดงสมรรถนะดิจิทัลในด้านนั้นๆ เพื่อเป็นใบเบิกทางในการประกอบอาชีพได้
            <!-- ตรงนี้เป็นส่วนที่อธิบายเกี่ยวกับ Certificate track ว่าคืออะไร อย่างคร่าว ๆ สำหรับคนทั่วไปที่สนใจ เช่น
            เมื่อผู้เรียนผ่านการเรียนในแต่ละมอดูลจะได้รับสัมฤทธิบัตร (Certificate) เพื่อแสดงสมรรถนะดิจิทัลในด้านนั้นๆ -->
          </div>
          <div class="cert-button">
            <a href="">
              <div class="button-radius cert-button-1">ดูหลักสูตร</div>
            </a>
            <a target="_blank" href="https://digitech.sut.ac.th/cert/login.php">
              <div class="button-radius cert-button-2">ตรวจสอบใบสัมฤทธิบัตร</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------- END CERT SECTION ----------------------->

<!--------------------------- DEGREE SECTION ------------------------->
<section>
  <div class="degree-container">
    <div class="header">Degree Track</div>
    <div class="content">
      หลักสูตรระดับปริญญาตรีด้านเทคโนโลยีดิจิทัลรูปแบบใหม่ ภายใต้ชื่อกลุ่มหลักสูตรศาสตร์และศิลป์ดิจิทัล 
      โดยจัดการเรียนการสอนในรูปแบบมอดูลหรือชุดวิชา (Modular Program) 
      ทําให้ผู้เรียนได้รับทักษะและความรู้แบบเบ็ดเสร็จ สามารถเลือกเรียนตามกลุ่มวิชาชีพที่สนใจ (Personalization)
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 mt-5">
        <a href="./syllabus?syllabus_id=1">
          <img class="syllabus-cover" src="./assets/images/dt_cover.svg" alt="" />
        </a>

        <div class="syllabus-title">สาขาวิชาเทคโนโลยีดิจิทัล</div>
        <div class="syllabus-detail">
          ศึกษาเกี่ยวกับการบริหารเทคโนโลยีดิจิทัลการพัฒนาซอฟต์แวร์ การจัดการข้อมูลและวิทยาศาสตร์ข้อมูล เพื่อคิดวิเคราะห์
          วางแผนการทำงานอย่างเป็นระบบและบูรณาการความรู้ เพื่อสร้างสรรค์นวัตกรรมดิจิทัล
        </div>
        <a href="./syllabus?syllabus_id=1">
          <div class="button-radius syllabus-button">ดูหลักสูตร</div>
        </a>
      </div>

      <div class="col-lg-6 col-sm-12 mt-5">
        <a href="./syllabus?syllabus_id=2">
          <img class="syllabus-cover" src="./assets/images/dc_cover.svg" alt="" />
        </a>

        <div class="syllabus-title">สาขาวิชานิเทศศาสตร์ดิจิทัล</div>
        <div class="syllabus-detail">
          ศึกษาเกี่ยวกับเทคโนโลยีดิจิทัล เพื่อบูรณาการกับองค์ความรู้ทางด้านนิเทศศาสตร์ดิจิทัล เพื่อคิดสร้างสรรค์ วางแผน
          เตรียมการผลิต ผลิต เผยแพร่ ประเมินผล และวิเคราะห์วิพากษ์ผลงานสื่อดิจิทัล
        </div>
        <a href="./syllabus?syllabus_id=2">
          <div class="button-radius syllabus-button">ดูหลักสูตร</div>
        </a>
      </div>
    </div>

    <hr />
  </div>
</section>
<!------------------------- END DEGREE SECTION ----------------------->

<!------------------------- FOOTER SECTION ------------------------->
<app-footer></app-footer>
<!----------------------- END FOOTER SECTION ----------------------->
